:root {
    --primary-color: #4f6ef7;
}


body {
    background-color: var(--primary-color);
    overflow-x: hidden;
    font-family: 'Open Sans', cursive;
    font-weight: 400;
}

.title-font {
    font-family: 'Open Sans', cursive;
    font-weight: 600;
}

/* We need to set our media-show's to none on non-mobile displays */
.media-show {
    display: none !important;
}

#hero {
    position: fixed;
    left: -10vw;
    top: 0;
    width: 130vw;
    height: auto;
    z-index: -999;
    filter: blur(3px);
}

/* mobile */
@media only screen and (max-width: 800px) {
    .media-show {
        display: block !important;
    }
    .media-remove {
        display: none !important;
    }
    .media-widen {
        width: 85% !important;
    }
    .media-widen-x {
        width: 90% !important;
    }
    .media-full {
        width: 100% !important;
    }
    .media-sticky-top {
        position: sticky;
        top: 0;
        z-index: 999;
    }
    #hero {
        left: -160vw;
        width: 420vw;
    }
}